<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authoi Meeting</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"></script>

    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>

</head>

<body>

    <div class="main">
        <div class="main_left">
            <div class="main-header">
                <span>CHAT</span>
            </div>
            <div class="main-chat-window">
                <ul class="messages">

                </ul>
            </div>
            <div class="main-message-container position-relative ">
                <div class="form-floating w-100 text-start">
                    <input type="text" class="form-control text-light rounded-0"
                        style="border-bottom: 2px solid aqua; border-top: 0; border-left: 0; border-right: 0; background-color: transparent;"
                        id="chat_message" placeholder="Type here">
                    <label for="chat_message" class="text-secondary">
                        Message
                    </label>
                </div>
            </div>
        </div>
        <div class="main_right">
            <div class="main_videos">
                <div id='video-grid'>

                </div>
            </div>
            <div class="main_controls">
                <div class="main_controls_block">
                    <div class="main_controls_button">
                        <i class="fa-solid fa-user-friends"></i>
                        <span>Participants</span>
                    </div>
                    <div class="main_controls_button">
                        <i class="fa-solid fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="main_controls_block">
                    <div class="main_controls_button ">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="main_controls_button main-mute-btn" onclick="MuteUnmute()">
                        <i class="fas fa-microphone mute" id="mic-btn"></i>
                        <span>Mute</span>
                    </div>
                    <div class="main_controls_button main-video-btn" onclick="playStop()">
                        <i class="fa-solid fa-video on" id="video-btn"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main_controls_block">
                    <div class="main_controls_button leave">
                        <span class="leave-meeting">Leave Meeting</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.fa-comment-alt')
            .closest('.main_controls_button')
            .onclick = () => {
                document.querySelector('.main_left')
                    .classList.toggle('active');
            };
    </script>
    <script type="module" src="/auth.js"></script>
    <script src="/script.js"></script>
</body>

</html>